[submodule "_vim/bundle/vim-vinegar"]
	path = _vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/pinnacle"]
	path = _vim/bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "_vim/bundle/ale"]
	path = _vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
