[submodule "_vim/bundle/vim-vinegar"]
	path = _vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
